.todo__alert--success {
    padding: 10px 30px;
    border-color: #badbcc;
    background: #d1e7dd;
    color: #0f5132;
}

.todo__alert--danger {
    padding: 10px 0;
    border-color: #f5c2c7;
    background: #f8d7da;
    color: #842029;
}

.todo__alert--danger ul {
    margin: 0;
}

.todo__content {
    margin: 0px auto;
    padding: 60px 15px;
    max-width: 1230px;
}

.create-form {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 70%;
    text-align: center;
}

.create-form__item {
    width: 70%;
}

.create-form__item-input {
    padding: 10px;
    width: 100%;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.create-form__button {
    width: 20%;
}

.create-form__button-submit {
    padding: 10px;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 3px;
    background: #000;
    color: #fff;
    cursor: pointer;
}

.todo-table {
    margin: 30px auto;
    width: 70%;
    text-align: center;
}

.todo-table__inner {
    width: 100%;
}

.todo-table__row {
    /* display: flex; */
    /* justify-content: space-between; */
    /* padding: 20px 30px; */
    border-bottom: 1px solid #ddd;
}

.todo-table__header {
    /* margin-top: 30px; todo-tableでマージンを入れているのでいらない*/
    padding: 12px;
    width: 20%;
    text-align: left;
    font-weight: bold;
}

/* first-of-typeをつけることにより、
入力欄と更新のボタンのみを対象とする */
.todo-table__item:first-of-type {
    padding: 12px;
    width: 90%;
}

.update-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.update-form__item {
    width: 80%;
    line-height: 50%;
}

.update-form__item-input {
    width: 100%;
    /* 以下２つで枠線を消している */
    outline: none;
    border: none;
}

.update-form__button {
    width: 50px;
}

.update-form__button-submit {
    padding: 5px;
    width: 100%;
    /* height: 40px; */
    border: none;
    border-radius: 3px;
    background: #0000ff;
    color: #fff;
    cursor: pointer;
}

.delete-form__button {
    width: 50px;
}

.delete-form__button-submit {
    padding: 5px;
    width: 100%;
    border: none;
    border-radius: 3px;
    background: #ff0000;
    color: #fff;
    cursor: pointer;
}